body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: 000;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul,
li {
    display: block;
}

.container {
    width: 1170px;
    /*ширина нашего блока*/
    margin: 0 auto;
    /*позиционирование по центру*/
}

.header {
    background: url('../img/header-bg.jpg') no-repeat center top / cover;
}

.header a {
    color: #fff;
}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;

}

.menu li {
    margin-right: 40px;
}